* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Hubot Sans", sans-serif;
    background: url("images/hero-bg.png.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    width: 100%;
    position: relative;
}

/* Navbar */

nav {
    width: 100%;
    height: 80px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;    
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid hsl(0, 0%, 50%);
}
nav .logo img {
    width: 80%;
}
nav ul {
    display: flex;
    gap: 2.5rem;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    transition:  all 0.8s ease;
}
.sigup-btn {
    border: 1px solid #000000;
    padding: 10px 30px;
    border-radius: 100px;
}
nav .menu-bar {
    display: none;
    font-size: 25px;

}
nav .logo img:hover, nav ul li a {
    cursor: pointer;
}
nav ul li a:last-child:hover {
    background-color: #000;
    color: #fff;
    box-shadow: inset 5px 5px 15px rgba(255, 255, 255, 0.2);
}

/* Navbar Responsiveness */

@media (min-width: 600px) and (max-width: 1000px) {
    nav ul li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {
    nav {
        padding: 10px 30px;
    }
    nav ul {
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        bottom: 0;
        width: 250px;
        min-height: 100vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        background-color: rgba(173, 173, 173, 0.2);
        backdrop-filter: blur(5px);
        overflow-y: hidden;
    }
    nav ul li {
        padding: 10px;
        margin-left: 15px;
    }
    nav ul li:last-child {
        margin-top: 10px;
    }
    nav .menu-bar {
        display: block;
    }
    nav .sidebar.active {
        display: flex;
    }
    #menuList {
        transition: all 0.8s;
    }
}

/* Header hero Container */

.container {
    width: 80%;
    margin: 150px auto 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container1, .container2 {
    padding: 15px;
}
.container1 h1 {
    line-height: 70px;
    word-spacing: 5px;
    margin-top: 100px;
    font-weight: 400;
    font-size: 50px;
    color: #20509e;
    margin-bottom: 30px;
}
.container h1 span {
    color: #16d0c5;
}
.container1 p {
    color: #75849a;
    margin-bottom: 40px;
    font-size: 17px;
}
.container1 input {
    width: 50%;
    height: 40px;
    padding: 0 25px;
    border-radius: 50px;
    border: 1px solid #ebebeb;
    background: #fff;
    font-size: 14px;
    margin-right: 8px;
}
.container1 button {
    background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
    border: none;
    padding: 10px 25px;
    color: #fff;
    border-radius: 50px;
    font-weight: 550;
    font-size: 14px;
    transition: all 0.8s ease;
}
.container1 button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.container1 button:active {
    transform: scale(0.95);
}
.container2 img {
    width: 100%;
    margin: 50px auto;
}

/* Media Responsiveness For Header Section 2 */

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 100px auto 50px auto;
    }
    .container1 h1  {
        width: 100%;
        margin-top: 30px;
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 20px;    
    }
    .container1 {
        padding: 20px;
    } 
    .container2 {
        padding: 5px;
    }
    .container1 p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .container1 input {
        display: block;
        width: 80%;
        height: 45px;
        font-size: 14px;
        padding: 0px 20px;
        margin-bottom: 20px;
    }
    .container1 button {
        width: 150px; 
        padding: 15px 35px;
        margin-bottom: 20px;
    }
    .container2 img {
        width: 100%;
        margin: 30px auto 0px auto;
        display: flex;
        justify-self: center;
    }

}

@media (min-width: 601px) and (max-width: 900px){
    .container {
        width: 80%;
        margin: 100px auto 50px auto;
        display: flex;
        flex-direction: column;
    }
    .container1 h1  {
        width: 100%;
        margin-top: 20px;
        font-size: 30px;
        line-height: 50px;
    }
    .container1 p {
        font-size: 18px;
        width: 85%;
        margin-bottom: 30px;
    }
    .container1 input {
        display: inline-block;
        font-size: 16px;
        margin-right: 20px;
        height: 50px;
    }
    .container1 button {
        margin-bottom: 20px;
        padding: 15px 30px;
        font-weight: 550;
    }
    .container2 img {
        width: 90%;
        margin: 30px auto 0px auto;
        display: flex;
        justify-self: center;
    }
}

@media (min-width: 901px) and (max-width: 1300px) {
    .container {
        width: 80%;
        margin: 180px auto 50px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .container1 h1 {
        margin-top: 0px;
        font-size: 37px;
        line-height: 55px;
        margin-bottom: 20px;
    }
    .container1 p {
        font-size: 18px;
        width: 85%;
        margin-bottom: 30px;
    }
    .container1 input {
        width: 70%;
        font-size: 16px;
        display: block;
        margin-bottom: 15px;
    }
    .container1 button {
        font-size: 14px;
        font-weight: 550;
        padding: 10px 30px;
    }
    .container2 img {
        width: 100%;
        margin: 0px auto;
    }
}
@media (min-width: 1301px) and (max-width: 1500px) {
    .container {
        width: 80%;
        margin: 180px auto 50px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .container1 h1 {
        margin-top: 30px;
        font-size: 37px;
        line-height: 60px;
    }
    .container1 input {
        width: 60%;
        font-size: 16px;
        display: inline-block;
        margin-bottom: 20px;
    }
    .container1 button {
        font-size: 14px;
        font-weight: 500;
        padding: 10px 20px;
    }
    .container2 img {
        width: 100%;
        margin: 20px auto;
    }
}

/* About Us Section */

.about-us {
    background-color: #fff;
    width: 100%;
    margin: auto;
}
.about-us-container {
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.about-us-container1 img {
    width: 100%;
    margin-top: 50px;
}
.about-us-container2 {
    padding: 5px 5px;
}
.about-us-container2 h1 {
    font-size: 40px;
    color: #20509e;
    font-weight: 400;
    margin-bottom: 20px;
}
.about-us-container2 h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #20509e;
    font-weight: 400;
}
.about-us-container2 p {
    font-size: 16px;
    color: #75849a;
    line-height: 1.5;
    margin-bottom: 30px;
    width: 78%;
}
.about-us-container2 button {
    padding: 10px 20px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: 550;
    color: #20509e;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    border: 1px solid  #000;
    transition: all 0.8s ease;
}
.about-us-container2 button:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    box-shadow: inset 5px 5px 15px rgba(255, 255, 255, 0.3);
}

/* Media Responsiveness For About-Us Section */

@media screen and (max-width: 600px) {
    .about-us-container {
        width: 90%;
        margin: 80px auto;
    }
    .about-us-container2 h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .about-us-container2 h2 {
        font-size: 17px;
    }
    .about-us-container2 p {
        font-size: 15px;
        width: 100%;
        margin-bottom: 40px;
    }
    .about-us-container2 button {
        margin-bottom: 20px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .about-us-container {
        width: 80%;
        margin: 80px auto;
    }
    .about-us-container2 h1 {
        font-size: 40px;
    }
    .about-us-container2 h2 {
        font-size: 20px;
        margin-bottom: 18px;
    }
    .about-us-container2 p {
        width: 100%;
        margin-bottom: 45px;
        font-size: 18px;
    }
    .about-us-container2 button {
        margin-bottom: 20px;
    }
    .about-us-container1 img {
        width: 100%;
        margin-top: 30px;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .about-us-container2 h2 {
        font-size: 22px;
    }
    .about-us-container2 p {
        font-size: 18px;
    }   
}

@media screen and (max-width: 900px) {
    .about-us-container {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 20px;
    }
}

@media (min-width: 901px) and (max-width: 1300px) {
    .about-us-container1 img {
        width: 100%;
        margin-top: 50px;
    }
    .about-us-container2 button {
        margin-bottom: 20px;
    }
    .about-us-container2 h1 {
        margin-top: 10px;
    }
    .about-us-container2 p {
        width: 100%;
    }    
}

/* Features Section */

.features {
    border-top: 2px solid #3e2bce;
    border-bottom: 1px solid #2dd3aa;
    background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
    color: #fff;
    width: 100%;
    margin: auto;
}
.features-container {
    width: 80%;
    margin: 100px auto;
}
.features-container h1 {
    text-align: center; 
    font-size: 40px;
    font-weight: 350;
    margin-bottom: 20px;
}
.features-container h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px;
}
.features-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 20px;
    margin-top: 50px;
}
.features-info-1 {
    display: flex;
    column-gap: 15px;
}
.features-info-1 div i {
    font-size: 45px;
    margin-top: 20px;
}
.features-info-1 div h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.features-info-1 div p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 10px;
}
.features-info-1 div a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.features-info-1 div a:hover {
    text-decoration: underline;
}

/* Media Responsiveness For Features Section */

@media screen and (max-width: 600px)  {
    .features-container {
        width: 90%;
        margin: 80px auto;
    }
    .features-container h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .features-container h2 {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .features-info {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .features-info-1 div i {
        font-size: 45px;
    }
    .features-info-1 div h3 {
        font-size: 20px;
        font-weight: 450;
    }
    .features-info-1 div p {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .features-container {
        width: 80%;
        margin: 80px auto;
    }
    .features-container h2 {
        font-size: 20px;
    }
    .features-info-1 div p {
        font-size: 20px;
    }
    .features-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .features-container {
        width: 90%;
    }
    .features-container h2 {
        font-size: 22px;
    }
    .features-info-1 div h3 {
        font-size: 22px;
    }
    .features-info-1 div p {
        font-size: 17px;
    }
}

/* Direction Section */

.direction {
    width: 100%;
    margin: auto;
}
.direction-container {
    width: 80%;
    margin: 100px auto;
    padding: 5px;
}
.direction-container h1 {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: #20509e;
    margin-bottom: 20px;
}
.direction-container h2 {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    color: #75849a;
    margin-bottom: 50px;
}
.direction-inner-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 50px;
}
.direction-inner-container div {
    text-align: center;
    padding: 30px;
    background-color: rgb(250, 250, 250);
    box-shadow: 10px 15px 45px rgba(33, 54, 70, 0.3);
}
.direction-inner-container div img {
    margin-bottom: 25px;
}
.direction-inner-container div h3 {
    font-weight: 500;
    font-size: 20px;
    color: #20509e;
    margin-bottom: 20px;
}
.direction-inner-container div p {
    color: #75849a;
    font-size: 17px;
}

/* Media Responsiveness For Direction Section */

@media screen and (max-width: 600px) {
    .direction-container {
        width: 90%;
        margin: 80px auto;
    }
    .direction-container h1 {
        font-size: 27px;
    }
    .direction-inner-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .direction-inner-container div h3 {
        font-size: 22px;
    }
    .direction-inner-container div p {
        font-size: 18px;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .direction-container {
        width: 80%;
    }
    .direction-container h2 {
        font-size: 20px;
    }
    .direction-inner-container {
        column-gap: 15px;
    }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .direction-container {
        width: 90%;
    }
}
@media (min-width: 901px) and (max-width: 1300px) {
    .direction-container h2 {
        font-size: 20px;
    }
    .direction-inner-container div p {
        font-size: 18px;
    }
}

/* Review Section */

.review {
    width: 100%;
    margin: auto;
    border-top: 2px solid #3e2bce;
    border-bottom: 1px solid #2dd3aa;
    color: #fff;
    background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
}
.review-container {
    width: 70%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
}
.review-container div {
    display: flex;
    column-gap: 10px;
    padding: 10px;
}
.review-container div i {
    font-size: 40px;
}
.review-container div h4 {
    font-weight: 400;
    font-size: 30px;
    color: #16d0c5;
}
.review-container div p {
    font-weight: 400;
    font-size: 14px;
}

/* Media Responsivenes for Review Section */

@media screen and (max-width: 600px) {
    .review-container {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 15px;
    }
}
@media (min-width: 601px) and (max-width: 1200px) {
    .review-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .review-container div p {
        font-size: 17px;
    }
}

@media (min-width: 601px) and (max-width: 1400px) {
    .review-container {
        width: 80%;
        gap: 10px;
    }
    .review-container div p {
        font-size: 15px;
    }
}

/* Team Section */

.team {
    width: 100%;
    margin: auto;
}
.team-container {
    width: 80%;
    margin: 100px auto;
    padding: 10px;
}

.team-container h1 {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: #20509e;
    margin-bottom: 20px;
}
.team-container h2 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #75849a;
    margin-bottom: 30px;
}
.team-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin-top: 20px;
}
.team-info-1 {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgb(250, 250, 250);
    box-shadow: 10px 10px 30px rgba(33, 54, 70, 0.3);
}
.team-info-1 img {
    width: 100%;
    height: 160px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.team-info-1 h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #20509e;
}
.team-info-1 p {
    color: #75849a;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 15px;
}
.team-info-1 div {
    margin-top: 20px;
    padding: 10px;
}
.team-info-1 div i {
    font-size: 20px;
    color: #75849a;
    margin-right: 10px;
    transition: all 0.8s ease;
}
.team-info-1 div i:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: #20509e;
}
.team-info-1 div i:active {
    transform: scale(0.95);
}

/* Media Responsiveness for Team Section */

@media screen and (max-width: 400px) {
    .team-container {
        width: 90%;
        padding: 0px;
        margin: 80px auto;
    }
    .team-container h1 {
        font-size: 20px;
    }
    .team-container h2 {
        font-size: 15px;
    }
    .team-info {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }
    .team-info-1 img {
        width: 150px;
        height: 150px;
        border-radius: 100px;
    }
    .team-info-1 h4 {
        font-size: 20px;
    }
    .team-info-1 p {
        font-size: 16px;
    }
    .team-info-1 div {
        margin-top: 10px;
    }
}
@media (min-width: 401px) and (max-width: 600px) {
    .team-container {
        width: 90%;
        padding: 0px;
    }
    .team-container h1 {
        font-size: 20px;
    }
    .team-container h2 {
        font-size: 15px;
    }
    .team-info {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }
    .team-info-1 img {
        width: 180px;
        height: 180px;
        border-radius: 100px;
    }
    .team-info-1 h4 {
        font-size: 22px;
    }
    .team-info-1 p {
        font-size: 18px;
    }
    .team-info-1 div {
        margin-top: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .team-container {
        width: 85%;
        margin: 80px auto;
    }
    .team-info {
        grid-template-columns: 1fr 1fr;
        gap: 15px 20px;
        margin-top: 50px;
    }
    .team-container h1{
        font-size: 28px;
    }
    .team-container h2 {
        font-size: 20px;
    }
    .team-info-1 img {
        height: 180px;
        width: 180px;
        border-radius: 100px;
    }
    .team-info-1 h4 {
        font-size: 22px;
    }
    .team-info-1 p {
        font-size: 20px;
    }
    .team-info-1 div {
        margin-top: 10px;
    }
    .team-info-1 div i {
        font-size: 30px;
    }
}

@media (min-width: 1001px) and (max-width: 1500px) {
    .team-container {
        width: 85%;
    }
    .team-container h1 {
        font-size: 40px;
    }
    .team-container h2 {
        font-size: 23px;
    }
    .team-info {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .team-info-1 img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
    }
    .team-info-1 h4 {
        font-size: 22px;
    }
    .team-info-1 p {
        font-size: 18px;
    }
    .team-info-1 div {
        margin-top: 10px;
    }
    .team-info-1 div i {
        font-size: 25px;
    }
}

/* NewsLetter Section */

.newsletter {
    border-top: 2px solid #3e2bce;
    border-bottom: 1px solid #2dd3aa;
    width: 100%;
    margin: auto;
    background: linear-gradient(to right, #3e2bce 0%, #2dd3aa 100%, #2dd3aa 100%, #2dd3aa 100%);
}
.newsletter-container {
    color: #fff;
    width: 70%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    padding: 10px;
}
.newsletter-container div h3 {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 10px;
}
.newsletter-container div p {
    font-size: 15px;
}
.newsletter-container div input, .newsletter-container div button {
    margin-top: 10px;
    padding: 10px 30px;
    height: 45px;
    font-size: 15px;
    border: none;
}
.newsletter-container div input {
    background-color: rgba(240, 240, 240, 0.3);
    border-radius: 100px;
    border-radius: 50px 0px 0px 50px;
}
.newsletter-container div button {
    border-radius: 0px 50px 50px 0px;
    margin-left: -3px;
    font-weight: 550;
    color: #20509e;
    margin-bottom: 20px;
    transition: all 0.8s ease;
}
.newsletter-container div button:hover {
    background-color: #000;
    color: #fff;
    box-shadow: inset 5px 5px 15px rgba(255, 255, 255, 0.2);
}
/* Media Responsiveness For Newsletter */

@media screen and (max-width: 600px) {
    .newsletter-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .newsletter-container div h3, .newsletter-container div p {
        text-align: center;
    }
    .newsletter-container div h3 {
        font-size: 22px;
        font-weight: 550;
    }
    .newsletter-container div p {
        font-size: 16px;
    }
    .newsletter-container div input, .newsletter-container div button {
        font-size: 16px;
        display: block;
    }
    .newsletter-container div input {
        border-radius: 30px;
        width: 100%;
        margin-bottom: 20px;
    }
    .newsletter-container div button {
        border-radius: 30px;
        display: flex;
        justify-self: center;
    }
    .newsletter-info {
        padding: 5px;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    .newsletter-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .newsletter-container div h3, .newsletter-container div p {
        text-align: center;
    }
    .newsletter-container div input, .newsletter-container div button {
        display: block;
    }
    .newsletter-container div input {
        border-radius: 30px;
        width: 100%;
        margin-bottom: 20px;
    }
    .newsletter-container div button {
        border-radius: 30px;
        display: flex;
        justify-self: center;
    }
    .newsletter-info {
        padding: 5px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .newsletter-container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .newsletter-container div input, .newsletter-container div button {
        display: block;
    }
    .newsletter-container div input {
        border-radius: 30px;
        width: 100%;
        margin-bottom: 20px;
    }
    .newsletter-container div button {
        border-radius: 30px;
        display: flex;
        justify-self: center;
    }
    .newsletter-info {
        padding: 5px;
    }
}

/* Latest News Section */

.latestnews {
    width: 100%;
    margin: auto;
}
.latestnews-container {
    width: 70%;
    margin: 100px auto;
}
.latestnews-container h1 {
    font-weight: 400;
    font-size: 40px;
    color: #20509e;
    text-align: center;
    margin-bottom: 20px;
}
.latestnews-container h2 {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #75849a;
    margin-bottom: 20px;
}
.latestnews-info {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}
.latestnews-info div {
    padding: 5px;
    background-color: rgb(250, 250, 250);
}
.latestnews-info div img {
    width: 100%;
}
.latestnews-info div h3 {
    font-weight: 400;
    color: #16d0c5;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.latestnews-info div h4 {
    font-size: 18px;
    font-weight: 500;
    color: #20509e;
}
.latestnews-inner-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: .8rem;
    margin: 10px 0px;
}
.latestnews-inner-info p{
    font-size: 12px;
}
.latestnews-inner-info p i {
    color: #16d0c5;
}

/* Media Responsiveness For Latest News Section */

@media screen and (max-width: 600px) {
    .latestnews-container {
        width: 90%;
        margin: 80px auto;
    }
    .latestnews-container h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .latestnews-container h2 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .latestnews-info {
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
    .latestnews-info div h4 {
        font-size: 16px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .latestnews-container {
        width: 90%;
        margin: 80px auto;
    }
    .latestnews-container h1 {
        font-size: 30px;
    }
    .latestnews-container h2 {
        font-size: 16px;
    }
    .latestnews-inner-info {
        display: flex;
        gap: .2rem;
    }
    .latestnews-inner-info p{
        font-size: 11px;
    }
    .latestnews-info {
        margin-top: 20px;
    }
}

@media (min-width: 901px) and (max-width: 1200) {
    .latestnews-container {
        width: 80%;
        margin: 80px auto;
    }
}

/* Socials Section */

.socials {
    width: 100%;
    margin: auto;
    background-color: rgb(235, 235, 235);
    border-top: 1px solid #75849a;
    border-bottom: 1px solid #75849a;
}
.socials-container {
    width: 70%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3rem;
}
.socials-container div {
    padding: 10px;
}
.socials-container div img {
    width: 40%;
    margin-bottom: 20px;
}
.socials-container div h5 {
    font-weight: 400;
    color: #75849a;
    font-size: 15px;
    margin-bottom: 15px;
}
.socials-author {
    color: #acb9cc;
    font-size: 14px;
}
.socials-author a {
    text-decoration: none;
    font-size: 14px;
}
.socials-author a:active {
    color: #20509e;
}
.socials-container div h6 {
    font-weight: 500;
    color: #20509e;
    font-size: 15px;
    margin-bottom: 20px;
}
.socials-container div p {
    font-size: 14px;
    color: #75849a;
    margin-bottom: 5px;
}
.socials-container div i {
    font-size: 25px;
    margin-right: 15px;
}
.socials1 {
    color: #20509e;
}
.socials2 {
    color: #E1306C;
}
.socials3 {
    color: #1DA1F2;
}
.socials4 {
    color: #FF4500;
}
.socials1:hover, .socials2:hover, .socials3:hover, .socials4:hover {
    cursor: pointer;
}

/* Media Responsiveness For Socials */

@media screen and (max-width: 600px) {
    .socials-container {
        width: 90%;
        margin: 30px auto;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .socials-container div {
        padding: 5px;
    }
    .socials-container div img {
        width: 30%;
        margin-bottom: 10px;
    }
    .socials-container div h5 {
        margin-bottom: 10px;
    }
    .socials-container div h6 {
        margin-bottom: 10px;
    }
    .socials-container div p {
        margin-bottom: 10px;
    }
    
}

@media (min-width: 601px) and (max-width: 900px) {
    .socials-container {
        width: 80%;   
        grid-template-columns: 1fr 1fr;
        gap: 1rem 2rem;
    }   
    .socials-container div h6 {
        font-size: 18px;
    }
    .socials-container div p {
        font-size: 16px;
    }  
}

@media (min-width: 901px) and (max-width: 1200px) {
    .socials-container {
        width: 70%;   
        grid-template-columns: 1fr 1fr;
        gap: 1rem 2rem;
    }     
}

/* Footer */

.footer {
    width: 80%;
    margin: 20px auto;
}
.footer p {
    text-align: center;
    font-size: 16px;
}

/* Media Responsiveess For Footer */

@media screen and (max-width: 600px) {
    .footer {
        width: 90%;
    }
    .footer p {
        font-size: 12px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .footer p {
        font-size: 14px;
    }
}